language: scala
scala:
  - 2.11.7
jdk:
   - oraclejdk8

sudo: false

cache:
  directories:
    - $HOME/.ivy2/cache
    - $HOME/.sbt

before_install:
  - pip install --user codecov

after_success:
  - codecov
